{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Notes {% block title %} {% endblock %}</title>
  
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/anim.css' %}">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&display=swap" rel="stylesheet">
</head>
<body class="min-vh-100 d-flex flex-column px-5 py-4 gap-3 overflow-hidden">


    <style>
        .icon-btn{
            border-radius: 50%;
            width: 60px;
            height: 60px;
            transition: all 0.3s ease-in-out;
        }
        .icon-btn:hover{
            transform: scale(1.1);
        }
    </style>

    {% include 'nav.html' %}
    <div class="bg-light shadow border border-warning  overflow-hidden" style="height: 85vh;" >
        {% block content %}
        
        {% endblock %}
    </div>


    <!-- hadi container fo9 container o fixed ghayban fiha messages la siftna xi messsage -->
    <div class="position-fixed top-0 vh-100 start-0 w-100 d-flex flex-column-reverse container " style="pointer-events: none;">
        {% if messages %}
            {% for msg in messages %}
                <div class="alert alert-{{msg.type}} alert-dismissible fade show" style="width: 300px;" role="alert">
                    {{ msg.message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>



    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>
