<div class="d-flex flex-column  justify-content-evenly rounded-4 p-2 border border-black bg-warning" style="width: 240px; height: 300px;">
    <div class="d-flex flex-column justify-content-evenly px-2">
        <h2>title</h2>
        <p2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sint aperiam cum consectetur praesentium doloremque hic quo autem nulla id! Laboriosam, ullam. Porro aut atque sunt velit, repudiandae rem officia?</p>
    </div>
    <h6 class="text-end">11-04-2023</h6>
</div>