{% extends "base.html" %}

{% block title %} Home Page {% endblock %}

{% block content %}
<section class="p-4 d-flex flex-row align-items-center gap-2 flex-wrap">
    {% include 'blocknote.html' %}
    {% include 'blocknote.html' %}
    {% include 'blocknote.html' %}
    {% include 'blocknote.html' %}
    {% include 'blocknote.html' %}
    {% include 'blocknote.html' %}
    {% include 'blocknote.html' %}
    {% include 'blocknote.html' %}
    {% include 'blocknote.html' %}
    {% include 'blocknote.html' %}
    {% include 'blocknote.html' %}
    {% include 'blocknote.html' %}
    {% include 'blocknote.html' %}
    {% include 'blocknote.html' %}
    {% include 'blocknote.html' %}
    {% include 'blocknote.html' %}
</section>
{% endblock %}