{% extends "base.html" %}

{% block title %} Home Page {% endblock %}

{% block content %}
<section class="animBg position-relative p-3 d-flex flex-row  gap-2 flex-wrap justify-content-center align-items-md-start justify-content-md-start overflow-auto h-100">
    {% if  notes|length <= 0  %}
        <small class="position-absolute start-50 top-50 translate-middle">You have 0 notes. Press + to create one</small>
    {% endif %}
    
    <!-- load notes kamlin -->
    {% for note in notes %}

      {% include 'blocknote.html' %}
    {% endfor %}
    
    <a href="{% url 'create' %}" class="position-fixed bottom-0 end-0  btn btn-warning icon-btn shadow animBg" style="width: 50px; height: 50px; transform: translate(-150%,-90%);" >
        +
    </a>
</section>


{% endblock %}